.DS_Store
Thumbs.db
Desktop.ini
.idea/
*.iml
out/
.gradle/
**/build/
local.properties
.kotlin/
.cxx/
.externalNativeBuild/
*.log
*.hprof
hs_err_pid*
replay_pid*
*.class
*.ctxt
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.apk
*.ap_
*.aab
*.aar
*.dex
captures/
/app/release/
*.jks
*.keystore
*.keystore.jks
